<div class="card">
    <!--card-->
    <mat-card>
        <app-card
        bg="red"
        icon="import_contacts"
        content="Admissions"
        total="3000"></app-card>
    </mat-card>
    <!--card-->
    <mat-card>
        <app-card
        bg="blue"
        icon="home"
        content="placements"
        total="3000"></app-card>
    </mat-card>
    <!--card-->
    <mat-card>
        <app-card
        bg="green"
        icon="person"
        content="students"
        total="3000"></app-card>
    </mat-card>
    <!--card--->
    <mat-card>
        <app-card
        bg="orange"
        icon="group"
        content="Employees"
        total="100"></app-card>
    </mat-card>
    
   
</div>

<div class="area">
    <!--area chart-->
    <app-area-chart></app-area-chart>
</div>

<div class="parent">

<div>
    <!--table-->
    <app-table></app-table>
</div>

<div>
    <!---pie chart-->
    <app-pie-chart></app-pie-chart>
</div>

</div>
